body.dark
  .layout
  .content
  .chat
  .chat-body
  .messages
  .message-item
  .message-content {
  background-color: #212124;
  border: 0.5px solid;
  border-color: #f3c96e;
  max-width: 377px;
  word-wrap: break-word;
}

.messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.dark .outgoing-message .message-avatar .time {
  color: #828282 !important;
}

body.dark
  .layout
  .content
  .chat
  .chat-body
  .messages
  .message-item:not(.outgoing-message)
  .message-content {
  background-color: #212124;
  border: 0.5px solid;
  border-color: #3cdbc3;
}

body.dark,
body.dark .layout .content .sidebar-group .sidebar,
body.dark .list-group-item,
body.dark .form-control,
body.dark nav.navigation {
  background-color: #212124 !important;
  color: rgba(255, 255, 255, 0.75);
}

body.dark .dropdown-menu,
body.dark .dropdown-menu .dropdown-item {
  background-color: #2c2b30;
  border-color: transparent;
}

body.dark .btn.btn-light {
  background-color: #212124;
  border-color: #3d4559;
  color: rgba(255, 255, 255, 0.75);
}

.text-block-43 {
  margin-top: -18px;
  margin-bottom: 15px;
  color: #cf404d;
  font-size: 14px;
}

body.dark nav.navigation ul li > a.active {
  background-color: #2c2b30;
}

::-webkit-scrollbar-thumb {
  background: #ffb822 !important;
}

body.rtl ul.nav.nav-tabs {
  padding-right: 0;
}

body.rtl nav.navigation ul li a.notifiy_badge:before {
  left: 10px;
  right: auto !important;
}

body.dark nav.navigation {
  background-color: #1a2236;
  border-right-color: #293145;
}

body.dark .modal-content {
  background-color: #212124;
}

body.dark nav.navigation ul li > a {
  color: rgba(255, 255, 255, 0.7);
}

body.dark nav.navigation ul li > a:hover,
body.dark nav.navigation ul li > a:focus {
  background-color: #293145;
}

body.dark nav.navigation ul li > a.active {
  background-color: #2c2b30;
}

body.dark .nav.nav-tabs .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

body.dark .modal-content {
  background-color: #212124;
}

body.dark .list-group-item {
  border-color: #293145;
}

body.dark .dropdown-menu .dropdown-divider {
  border-color: #384054;
}

.dropdown-chat-message {
  display: none;
  transition: all 0.5s ease-in-out;
}

.action-dropdown-chat {
  height: 30px !important;
  width: 50px !important;
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 3;
}

.action-dropdown-chat:hover .dropdown-chat-message {
  display: block;
  background-color: #2121248f !important;
}

.position-relative {
  position: relative;
}

@media (max-width: 1200px) {
  body.navigation-open:after {
    content: "";
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1020;
  }
  body.navigation-open .navigation {
    /* display: block; */
    opacity: 1;
  }

  .navigation {
    /* display: none; */
    position: fixed;
    opacity: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 1021;
    transition: all.2s ease-in-out;
  }
}
