<!DOCTYPE html>
<!--  Last Published: Thu May 21 2020 00:00:16 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5ebcb701afcad5b57602ca4f" data-wf-site="59084483abf1f4378f35067c">
<head>
  <meta charset="utf-8">
  <title>index</title>
   <% include ../partials/w_header.ejs %>
</head>
<body class="bodylogin">
 
  <% include ../partials/w_nav_lgOut.ejs %>
  
  <div class="hero-section centered">
	  
    <div class="w-container">
      <div class="w-form">
        <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-10">
          <h1 class="fingertipsslogan login-head-form">LOG IN</h1>
          <div class="underline login-blue-line"></div>
		  <input type="text" id="email-2" name="email-2" data-name="Email 2" placeholder="E-mail" maxlength="256" class="start-form w-input">
		  <input type="text" id="pwd-2" name="pwd-2" data-name="Pwd 2" placeholder="Password" maxlength="256" class="start-form w-input">
		  <input type="submit" value="Log In" data-wait="Please wait..." class="button-5 w-button">
          <div class="login-form-footer">Sign Up | Forgot Account Info | Terms</div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="div-block-25">
    <div class="footer-text-2"> by Neurons Art &amp; Technology</div>
  </div>
  
  <div class="lighthouse-background">
    <div class="lighthouse-dark-2">
      <h1 class="fingertipsslogan-2 boost">Your business at your fingertips.</h1>
	  <img src="w/imgs/tour_measure1.png" alt="" class="image-64">
      <div class="lightdiv">
		  <img src="https://daks2k3a4ib2z.cloudfront.net/577edf7397ba26ad3cc0ae5d/583ea80c40b743510c5730a0_mesure_2.png" data-ix="lightsonauto" alt="" class="light-ray-2">
	  </div>
		  <a href="#" class="button-6 w-button">START NOW!</a>
	  </div>
  </div>
 <% include ../partials/w_footer.ejs %>
</body>
</html>