@charset "utf-8";
/* CSS Document */



html { overflow-x: hidden}


.topload { height:960px}

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('../fonts/brandon_thin-webfont.eot');
    src: url('../fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_thin-webfont.woff2') format('woff2'),
         url('../fonts/brandon_thin-webfont.woff') format('woff'),
         url('../fonts/brandon_thin-webfont.ttf') format('truetype'),
         url('../fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,
button,
input,
select,
textarea {
    color: #222;
}


* { padding:0; margin:0}


body {
    font-size: 1em;
    line-height: 1.4;
	/*background:#147cb8 !important;*/
	background-color:#147cb8;
	background:url(../img/backbig.jpg) #147cb8 left ; 
}

-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing: grayscale;


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

 img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

   .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




.logohead { position:absolute; z-index:989989898989; width:100%; top:85px;
-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
#intro { width:100%; height:900px}

#layerslider-container-fw {
	width: 100%;
	margin: 0px auto 0px auto;
}

.homeslider { background:url(../img/dirt.png) repeat; width:100%}

.circle_down {
position: absolute;
z-index: 200;
width: 80px;
height: 120px;
cursor: pointer;
z-index:959
}
.topcir { top:-65px}

#main_features { background:url(../img/dirt.png) repeat; height:100%; width:100%}


.wrap  { background:url(../img/dirt.png) repeat; height:100%; width:100%; position:absolute; z-index:45px}

#main_features h1 { font-family: 'brandon_grotesquethin'; text-transform:uppercase; font-size:48px; font-weight:100; text-align:center; color:#fff; padding-bottom:80px}
#main_features h2 { font-family: 'Roboto', sans-serif; font-size:21px; font-weight:300; text-align:center;word-break: keep-all; line-height:23px; color:#fff; width:65%; margin:0 auto}
#main_features h2 span {  font-weight:500; font-size:22px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);}

#main_features h2 a { font-size:22px ; cursor:pointer; color:#58b4e7}

.marginTop { padding:10px 0 10px 0}


.contImg5 img , contImg4 img, .contImg3 img, .contImg2 img , .contImg1 img { position: relative}

.animated {
    visibility: hidden;
}

.animated.visible {
    visibility: visible;
}
.no-gutter {
    padding-left:0 !important;
	padding-right:0 !important;
}

.separator {  width:100%; height:200px; clear:both}
.contanimations { position:relative; display:inline-block; width:100%; margin:0 auto; height:420px}
.contanimations_second { position:relative; display:inline-block; width:100%; margin:0 auto; height:598px}


.contanimations img { position: absolute; left:20%;  
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	
	
	.contanimations_second img.baseheighstaff { position: absolute; left:21%;  z-index:46;
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	
	.contanimations_second img.baseheighstafftwo { position: absolute; left:21%; z-index:45;  
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	

.contanimations_fourth 	 {position:relative; display:inline-block; width:100%; margin:0 auto; height:690px}
.contanimations_fourth img	 { position: absolute;left:14%;  
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	
.contanimations_third {position:relative; display:inline-block; width:100%; margin:0 auto; height:700px}
.contanimations_third img.baseheigh	 { position: absolute;left:14%;  
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	
	.contanimations_third img.baseheightwo	 { position: absolute;left:14%;  
	-webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
	
	
	

.final { width:100%; height:auto; background: url(../img/bluepattern.png) repeat; position:relative; clear:both; padding-bottom:120px}
.toolcontent { margin-top:-120px; position:relative; z-index:450}

footer { background:url(../img/footerpattern.png) repeat; width:100%; height:290px}
.logofooter { padding-top:95px}
footer h4 {font-family: 'Roboto', sans-serif; font-size:12px; font-weight:400; text-align:center; color:#fff;  margin:0 auto; letter-spacing:3px; padding-top:20px}

.contact { width:100%; height:120px; background: url(../img/bluepattern.png) repeat}
.contact h4 {font-family: 'Roboto', sans-serif; font-size:21px; font-weight:300; text-align:center; color:#fff;  margin:0 auto;  padding-top:50px}

.contact h4 span { font-weight:500;}


/*ANIMACIONES*/

.playbut { z-index:5}
.flags {z-index:8;}
.rotated { z-index:10; position:absolute; left:37%; opacity:0}
.rotatedhelice { z-index:7; position: absolute !important; left:46%; top:338px; opacity:1}
.baseheigh { z-index:9}

@-webkit-keyframes rotateds {
    from{
        -webkit-transform: rotate(0deg);
		
    }
    to{
        -webkit-transform: rotate(360deg);
	
    }
}



@-moz-keyframes rotateds {
    from{
		-moz-transform: rotate(0deg);
	
    }
    to{
		-moz-transform: rotate(360deg);
		
    }
}


@-o-keyframes rotateds {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}




@-webkit-keyframes rotatedhel {
    from{
        -webkit-transform: rotate(0deg);
		
    }
    to{
        -webkit-transform: rotate(360deg);
	
    }
}



@-moz-keyframes rotatedhel {
    from{
		-moz-transform: rotate(0deg);
	
    }
    to{
		-moz-transform: rotate(360deg);
		
    }
}


@-o-keyframes rotatedhel {
from { -o-transform: rotate(0deg); }
to { -o-transform: rotate(360deg); }
}


.rotatedhelice {
    -webkit-animation: rotatedhel 1s linear infinite;
	 -moz-animation: rotatedhel 1s linear infinite;
	 -o-animation: rotatedhel 1s linear infinite;
	 -ms-animation: rotatedhel 1s linear infinite;
}




.rotated {
    -webkit-animation: rotateds 2s linear infinite;
	 -moz-animation: rotateds 2s linear infinite;
	 -o-animation: rotateds 2s linear infinite;
	 -ms-animation: rotateds 2s linear infinite;
}



.opacitylayer {
	visibility: hidden;
    -webkit-animation: opac 3s linear infinite;
	-moz-animation: opac 3s linear infinite;
	 -o-animation: opac 3s linear infinite;
	 -ms-animation: opac 3s linear infinite;
}


.opacitylayerfirst  {
	visibility: hidden;
    -webkit-animation: opacfirst 5200ms linear infinite;
	-moz-animation: opacfirst 5200ms linear infinite;
	 -o-animation: opacfirst 5200ms linear infinite;
	 -ms-animation: opacfirst 5200ms linear infinite;
}




@-webkit-keyframes opac {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opac {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opac {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opac {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes opacfirst {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacfirst {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacfirst {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacfirst {
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}




.coloscreen { z-index:4; opacity:0;
-webkit-transition: all 0.4s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -moz-transition: all 0.4s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -ms-transition: all 0.4s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -o-transition: all 0.4s cubic-bezier(0.712, 0.0376, 0.392, 1);
    transition: all 0.4s cubic-bezier(0.712, 0.0376, 0.392, 1);
}

.contImg1:hover .coloscreen{ opacity:1;}

.lightfaro { z-index:10}
.light { opacity:0}


 @media only screen and (max-width: 1200px) {
	 
.contanimations img {position: absolute;left: 14%;}
.contanimations_third img.baseheigh , .contanimations_third img.baseheightwo  {left: 6%;}
.contanimations_second img.baseheighstafftwo ,.contanimations_second img.baseheighstaff {left:14%;}
.contanimations_fourth img	 { left: 5%;}

.rotated { left:34%;}
.rotatedhelice { left:44%; top:338px;}


#main_features h2 { width:85%; }
.toolcontent {margin-top:-90px}
	 
 }
 
 

  @media only screen and (max-width:1040px) {
	 
.contanimations_third { height:580px !important}
.seconslide { top:44% !important}
	 
 }
 
 
 
 
 
 @media only screen and (max-width: 992px) {
	 
.contanimations img {position: absolute;left:3%;} 
.contanimations_fourth img	 { left:0%;}
.contanimations_third img.baseheigh , .contanimations_third img.baseheightwo  {left:0%;} 
.contanimations_second img.baseheighstafftwo ,.contanimations_second img.baseheighstaff {left:3%;}
.rotated { left:28%; top:-10px}
.rotatedhelice { left:43%; top:338px;}

#main_features h2 { width:100%;}
.toolcontent {margin-top:-50px}

.contanimations_third { height:480px !important}
	 
 }
 
  @media only screen and (max-width: 723px) {

.contanimations img {position: absolute;left:0%;} 
.contanimations_second img.baseheighstafftwo ,.contanimations_second img.baseheighstaff {left:0%;}
.rotated { left:28%; top:-10px}
.toolcontent {margin-top:-10px} 
.rotated { left:22%; top:-40px;}
.rotated img { width:50%;}
.contanimations_third { height:380px !important}
	
 }
 
 
   @media only screen and (max-width: 500px) {
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides {
	display:none !important;
}

	
 }
 


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
.rotated { display:none}
.contanimations_third { height:220px !important}
ls-s2 { margin-top:95px !important ; margin-left:20px !important} 
#sss { display:none}
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides { display:none !important}
.ls-nav-prev,
.ls-nav-next {visibility: hidden;display:none !important}


.textbanner { width:80% !important ; left:-48px !important;}

#layerslider { height:500px !important}

.ls-s2.l1-s1 { line-height:34px !important} 

}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
.rotated { display:none}
.ls-s2 { margin-top:95px !important ;  margin-left:20px !important} 
#sss { display:none}  
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides { display:none !important}

#layerslider { height:500px !important}

.textbanner { width:80% !important ; left:-48px !important;}

.ls-s2.l1-s1 { line-height:34px !important} 

}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides { display:none !important}
.ls-fullwidth .ls-bottom-slidebuttons { display:none !important}
.ls-s2 { margin-top:95px !important ;  margin-left:20px !important} 
}

/* #### iPhone 5 Landscape #### */
@media screen and (device-aspect-ratio: 40/71) {
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides { display:none !important}
.ls-fullwidth .ls-bottom-slidebuttons { display:none !important}
.ls-s2 { margin-top:95px !important ;  margin-left:20px !important} 
}

/* #### aNDROID WEBKIT Landscape #### */
@media only screen and (-webkit-device-pixel-ratio: 2) {
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides { display:none !important}
.ls-fullwidth .ls-bottom-slidebuttons { display:none !important}
.ls-s2 { margin-top:95px !important ;  margin-left:20px !important} 
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 

.fixipad { top:36% !important}
}



@media only screen and (max-width:1024px) {
	 .ls-s2 { margin-left:90px !important} 
 }

@media only screen and (max-width:860px) {
.ls-s2.l1-s1 { line-height:29px !important} 

 }

@media only screen and (max-height:800px) {
  .ls-s2 { font-size:40px !important}
 
 
.ls-fullwidth .ls-bottom-slidebuttons, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop, .ls-fullwidth .ls-nav-sides {
top: -220px !important;
}
 }
 
 


/*MODAL CONTENT STYLES*/ 


.modal-content { background:url(../img/bluepattern.png) repeat !important}
h4  { font-family: 'Roboto' !important; font-size:15px; font-weight:400; color:#FFF !important; text-align:center}
.youtube { cursor:pointer; z-index:850}
.here {z-index:800}




.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index:2000;
    background:#1c7cb8;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  z-index: 988998989999;
  position: fixed;
  height: 90px;
  width: 90px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 988998989999;
  display: block;
  position: absolute;
  left: 0px;
  top: -30px;
  height: 90px;
  width: 90px;
  display: block;
  border-width: 30px;
  border-style: ;
  border-color: #fff  transparent ;
  border-radius: 50%;

  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
  border-radius: 50%;
}


@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}















